%html
  %head
    %title Jasmine Spec Runner
    = stylesheet_link_tag "jasmine"
    = stylesheet_link_tag "spec"
    = javascript_include_tag "jasminerice"
    = javascript_include_tag @specenv
    = csrf_meta_tags
  %body
